body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url(/uwp1779163.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}
h1 {
    color: #ffffff;
}
.calculator {
    background-color: #ffffff7b;
    padding: 20px;
    margin: auto;
    max-width: 400px;
    border-radius: 20px;
}
input[type="number"] {
    padding: 10px;
    margin-bottom: 10px;
}
button {
    background-color: #0089ab;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 15px;
}
#resultado {
    font-weight: bold;
    margin-top: 10px;
}